/**
 * Base16 3024 Dark
 * @author: Jan T. Sott (http://github.com/idleberg)
 */

/* @group Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
}

body {
	color: #f7f7f7;
	height: 100%;
	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #090300;
}

#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;

	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[viewtype=channel] div#body_home {
	max-height: 96.5%;
}

.line {
	padding: 2px 5px 2px 5px;
	clear: both;
}

.sender {
	cursor: pointer;
	font-weight: 700;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* @end */

/* @group Misc */

#loading_screen {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: #3a3432;
	border: 1px solid #4a4543;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
	text-align: center;
}

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* @end */

/* @group Time */

.time {
	color: #5c5855;
	white-space: nowrap;
}

body[dir=rtl] .time {
	padding-left: 0.4em;
	display: inline-block;
}

/* @end */

/* @group Links */

a {
	color: #01a0e4;
	border-color: #01a0e4;
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #a16a94;
	border-color: #a16a94;
}

/* @end */

/* @group Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	color: #a5a2a2;
	position: fixed;
	padding: 2px 0.5em 3px;
	background-color: rgba(74, 69, 67, 0.95);
	-webkit-transition: opacity 0.8s linear;
	-webkit-font-smoothing: subpixel-antialiased;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
 * https://github.com/hbang/Simplified-Light-Modifications
 */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

/* @end */

/* @group Images */

.inlineImageCell {
	overflow: auto;
	display: block;
	margin-top: 5px;
	margin-bottom: 2px;
}

.inlineImageCell .image {
	display: inline-block;
	float: left;
	margin-right: 15px;
	margin-left: 10px;
	min-width: 40px;
	max-width: 90%;
}

.inlineImageCell .closeButton {
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #4a4543;
	color: #a5a2a2;
	display: inline-block;
	line-height: 14px;
	font-size: 15px;
	font-family: "Helvetica Neue" !important;
	text-indent: 7px;
	width: 16px;
	height: 16px;
	float: left;
	padding-right: 7px;
	padding-left: 0px;
}

html[systemversion^="10.9"] .inlineImageCell .closeButton,
html[systemversion^="10.8"] .inlineImageCell .closeButton {
	line-height: 13px;
}

/* @end */

/* @group Separating History */

div[id=mark] {
	clear: both;
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dashed;
	border-color: #db2d20;
	-webkit-transition: 0.2s linear;
}

.historic {
	opacity: 0.5;
}

/* @end */

/* @group NOTICE / CTCP / WALLOPS */

.line[ltype*=ctcp],
.line[ltype*=notice],
.line[ltype*=wallops] {
	color: #fded02;
	z-index: 191;
	background-color: rgba(253, 237, 2, 0.1);
	position: relative;
}

/* @end */

/* @group Selected User */

.line[ltype*=privmsg]:not(.selectedUser),
.line[ltype*=action]:not(.selectedUser) {
	transition: background-color 0.5s;
}

.line.selectedUser[highlight=false] {
	transition: background-color 0.5s;
	z-index: 190;
	position: relative;
	background-color: rgba(232, 187, 208, 0.1);
}

/* @end */

/* @group PRIVMSG */

.line[ltype*=privmsg][highlight=true],
.line[ltype*=action][highlight=true] {
	z-index: 191;
	position: relative;
	font-weight: normal;
	background-color: rgba(219, 45, 32, 0.1);
}

div[ltype*=privmsg] .sender {
	white-space: pre-wrap;
}

/* @end */

/* @group ACTION */

div[ltype*=action] .sender:before {
	content: "•";
}

body[dir=ltr] div[ltype*=action] .sender:before {
	margin-right: 0.4em;
}

body[dir=rtl] div[ltype*=action] .sender:before {
	margin-left: 0.4em;
}

div[ltype*=action] .sender:after {
	content: "";
}

/* @end */

/* @group DEBUG / INVITE */

.line[ltype*=invite],
.line[ltype*=debug],
.line[ltype*=rawhtml],
.line[ltype*=dccfiletransfer] {
	color: #a5a2a2;
	z-index: 190;
	background-color: #3a3432;
	position: relative;
}

/* @end */

/* @group Message of the Day (MOTD)
 *
 * 720, 721, 722 are used by ShadowIRCd for Oper MOTD.
 * 372, 375, 376 are normal MOTD shared by several IRCds.
 */

.line[command="372"],
.line[command="721"] {
	padding-top: 3px;
	padding-bottom: 3px;
}

.line[command="375"],
.line[command="720"] { /* Start. */
	padding-top: 2px;
	padding-bottom: 3px;
}

.line[command="376"],
.line[command="722"] { /* End. */
	padding-top: 3px;
	padding-bottom: 3px;
}

.line[command="372"] .message,
.line[command="375"] .message,
.line[command="376"] .message
.line[command="720"] .message,
.line[command="721"] .message,
.line[command="722"] .message {
	/* font-family: "EspressoMono-Regular", "Menlo" !important; */
}

/* @end */

/* @group General Events */

.line[ltype*=join],
.line[ltype*=part],
.line[ltype*=quit],
.line[ltype*=nick],
.line[ltype*=mode],
.line[ltype*=topic],
.line[ltype*=website] {
	color: #5c5855;
	background-color: rgba(58, 52, 50, 0.1);
}

/* Slightly more interesting events */
.line[ltype*=kick],
.line[ltype*=kill],
.line[ltype*=mode][command=mode] {
	color: #a5a2a2;
	background-color: rgba(58, 52, 50, 0.1);
}

/* @group Event Indicators */

div[ltype*=join] .message:before {
	content: "→";
	color: #01a252;
}

div[ltype*=kick] .message:before,
div[ltype*=part] .message:before,
div[ltype*=quit] .message:before {
	content: "←";
	color: #db2d20;
}

div[ltype*=nick] .message:before {
	content:"◦";
	color: #b5e4f4;
}

/* @end */

/* @end */

/* @group Own Messages */

.sender[mtype*=myself] {
	color: #01a0e4;
}

div[mtype*=myself] {
	background-color: rgba(1, 160, 228, 0.1);
}

/* @end */

/* @group Nickname Colors */

/* Leave out #01a0e4, it's the color of the own nick */

.sender[mtype*=normal][colornumber='0'],
.inline_nickname[colornumber='0'] {
	color: #db2d20;
}

.sender[mtype*=normal][colornumber='1'],
.inline_nickname[colornumber='1'] {
	color: #e8bbd0;
}

.sender[mtype*=normal][colornumber='2'],
.inline_nickname[colornumber='2'] {
	color: #fded02;
}

.sender[mtype*=normal][colornumber='3'],
.inline_nickname[colornumber='3'] {
	color: #01a252;
}

.sender[mtype*=normal][colornumber='4'],
.inline_nickname[colornumber='4'] {
	color: #b5e4f4;
}

.sender[mtype*=normal][colornumber='5'],
.inline_nickname[colornumber='5'] {
	color: #a16a94;
}

.sender[mtype*=normal][colornumber='6'],
.inline_nickname[colornumber='6'] {
	color: #cdab53;
}

/* Shuffle RGB values to get some more colors which are similar / harmonic */

/* Swap R <-> B */

.sender[mtype*=normal][colornumber='7'],
.inline_nickname[colornumber='7'] {
	color: rgb(32, 45, 219);
}

.sender[mtype*=normal][colornumber='8'],
.inline_nickname[colornumber='8'] {
	color: rgb(208, 187, 232);
}

.sender[mtype*=normal][colornumber='9'],
.inline_nickname[colornumber='9'] {
	color: rgb(2, 237, 253);
}

.sender[mtype*=normal][colornumber='10'],
.inline_nickname[colornumber='10'] {
	color: rgb(82, 162, 1);
}

.sender[mtype*=normal][colornumber='11'],
.inline_nickname[colornumber='11'] {
	color: rgb(244, 228, 181);
}

.sender[mtype*=normal][colornumber='12'],
.inline_nickname[colornumber='12'] {
	color: rgb(228, 160, 1);
}

.sender[mtype*=normal][colornumber='13'],
.inline_nickname[colornumber='13'] {
	color: rgb(148, 106, 161);
}

.sender[mtype*=normal][colornumber='14'],
.inline_nickname[colornumber='14'] {
	color: rgb(205, 171, 83);
}

/* Swap R <-> G */

.sender[mtype*=normal][colornumber='15'],
.inline_nickname[colornumber='15'] {
	color: rgb(45, 219, 32);
}

.sender[mtype*=normal][colornumber='16'],
.inline_nickname[colornumber='16'] {
	color: rgb(187, 232, 208);
}

/* This, barely readable */
.sender[mtype*=normal][colornumber='17'],
.inline_nickname[colornumber='17'] {
	color: rgb(237, 253, 2);
}

.sender[mtype*=normal][colornumber='18'],
.inline_nickname[colornumber='18'] {
	color: rgb(162, 1, 82);
}

.sender[mtype*=normal][colornumber='19'],
.inline_nickname[colornumber='19'] {
	color: rgb(228, 181, 244);
}

.sender[mtype*=normal][colornumber='20'],
.inline_nickname[colornumber='20'] {
	color: rgb(160, 1, 228);
}

.sender[mtype*=normal][colornumber='21'],
.inline_nickname[colornumber='21'] {
	color: rgb(106, 161, 148);
}

.sender[mtype*=normal][colornumber='22'],
.inline_nickname[colornumber='22'] {
	color: rgb(171, 205, 83);
}

/* Swap G <-> B */

.sender[mtype*=normal][colornumber='23'],
.inline_nickname[colornumber='23'] {
	color: rgb(219, 32, 45);
}

.sender[mtype*=normal][colornumber='24'],
.inline_nickname[colornumber='24'] {
	color: rgb(232, 208, 187);
}

.sender[mtype*=normal][colornumber='25'],
.inline_nickname[colornumber='25'] {
	color: rgb(253, 2, 237);
}

.sender[mtype*=normal][colornumber='26'],
.inline_nickname[colornumber='26'] {
	color: rgb(1, 82, 162);
}

.sender[mtype*=normal][colornumber='27'],
.inline_nickname[colornumber='27'] {
	color: rgb(181, 244, 228);
}

.sender[mtype*=normal][colornumber='28'],
.inline_nickname[colornumber='28'] {
	color: rgb(1, 228, 160);
}

.sender[mtype*=normal][colornumber='29'],
.inline_nickname[colornumber='29'] {
	color: rgb(161, 148, 106);
}

.sender[mtype*=normal][colornumber='30'],
.inline_nickname[colornumber='30'] {
	color: rgb(205, 83, 171);
}

/* @end */

/* @group mIRC Color Codes */

/* @group Foreground Colors */
.effect[color-number='0']  { color: #f7f7f7   !important; } /* White       */
.effect[color-number='1']  { color: #090300   !important; } /* Black       */
.effect[color-number='2']  { color: #01a0e4   !important; } /* Blue        */
.effect[color-number='3']  { color: #01a252   !important; } /* Green       */
.effect[color-number='4']  { color: rgba(219, 45, 32, 0.8) !important; } /* Light Red   */
.effect[color-number='5']  { color: #cdab53   !important; } /* Brown       */
.effect[color-number='6']  { color: #a16a94   !important; } /* Purple      */
.effect[color-number='7']  { color: #e8bbd0   !important; } /* Orange      */
.effect[color-number='8']  { color: #fded02   !important; } /* Yellow      */
.effect[color-number='9']  { color: rgba(1, 162, 82, 0.8) !important; } /* Light Green */
.effect[color-number='10'] { color: #b5e4f4   !important; } /* Cyan        */
.effect[color-number='11'] { color: rgba(181, 228, 244, 0.8) !important; } /* Light Cyan  */
.effect[color-number='12'] { color: rgba(1, 160, 228, 0.8) !important; } /* Light Blue  */
.effect[color-number='13'] { color: rgba(161, 106, 148, 0.8) !important; } /* Pink        */
.effect[color-number='14'] { color: #4a4543   !important; } /* Gray        */
.effect[color-number='15'] { color: #a5a2a2   !important; } /* Light Gray  */
/* @end */

/* @group Background Colors */
.effect[bgcolor-number='0']  { background-color: #f7f7f7   !important;} /* White       */
.effect[bgcolor-number='1']  { background-color: #090300   !important;} /* Black       */
.effect[bgcolor-number='2']  { background-color: #01a0e4   !important;} /* Blue        */
.effect[bgcolor-number='3']  { background-color: #01a252   !important;} /* Green       */
.effect[bgcolor-number='4']  { background-color: rgba(219, 45, 32, 0.8) !important;} /* Light Red   */
.effect[bgcolor-number='5']  { background-color: #cdab53   !important;} /* Brown       */
.effect[bgcolor-number='6']  { background-color: #a16a94   !important;} /* Purple      */
.effect[bgcolor-number='7']  { background-color: #e8bbd0   !important;} /* Orange      */
.effect[bgcolor-number='8']  { background-color: #fded02   !important;} /* Yellow      */
.effect[bgcolor-number='9']  { background-color: rgba(1, 162, 82, 0.8) !important;} /* Light Green */
.effect[bgcolor-number='10'] { background-color: #b5e4f4   !important;} /* Cyan        */
.effect[bgcolor-number='11'] { background-color: rgba(181, 228, 244, 0.8) !important;} /* Light Cyan  */
.effect[bgcolor-number='12'] { background-color: rgba(1, 160, 228, 0.8) !important;} /* Light Blue  */
.effect[bgcolor-number='13'] { background-color: rgba(161, 106, 148, 0.8) !important;} /* Pink        */
.effect[bgcolor-number='14'] { background-color: #4a4543   !important;} /* Gray        */
.effect[bgcolor-number='15'] { background-color: #a5a2a2   !important;} /* Light Gray  */
/* @end */

/* @end */

/* vim: set foldmethod=marker foldmarker=@group,@end nofoldenable: */
